<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiangbowen.PensionManagement.dao.salary.SalaryDao">
    <insert id="Add">
        INSERT INTO `salary` values (
                                       null,
                                       #{workersid},
                                       #{username},
                                       #{salary},
                                       #{salary_time},
                                       #{create_time}
                                   );
    </insert>
    <update id="Update">
        UPDATE `salary` SET  `workersid` = #{workersid} ,`username` = #{username},`salary` = #{salary} , `salary_time` = #{salary_time} , `create_time`=#{create_time} WHERE `id`= #{id}
    </update>
    <select id="getAll" resultType="com.jiangbowen.PensionManagement.entity.Salary">
        SELECT * FROM `salary`;
    </select>
    <select id="getSalaryByUId" resultType="com.jiangbowen.PensionManagement.entity.Salary">
        SELECT * FROM `salary` WHERE `workersid`=#{workersid}
    </select>
    <select id="getSalaryById" resultType="com.jiangbowen.PensionManagement.entity.Salary">
        SELECT * FROM `salary` WHERE `id`=#{id};
    </select>
    <delete id="Del">
        DELETE FROM `salary` where `id`=#{id}
    </delete>
</mapper>