<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiangbowen.PensionManagement.dao.user.UserDao">
<!--    <insert id="add">
       INSERT INTO `older` values
        (
       #{id},
       #{name},
       #{sex},
       #{age},
       #{addr},
       #{tel},
       #{height},
       #{weight},
       #{ blood_type},
       #{ allergy},
       #{heart_rate},
       #{blood_pressure},
       #{ blood_sugar},
       #{ smoke},
       #{create_time}
 );
    </insert>
   <select id="getAll" resultType="com.jiangbowen.PensionManagement.entity.Older">
      SELECT * FROM `older`;
   </select>-->
    <select id="getAdminById" resultType="com.jiangbowen.PensionManagement.entity.Admin">
        SELECT * FROM `admin`
        WHERE `userid`=#{userid} AND `password`=#{password}
    </select>
    <update id="AdminUpdate">
        UPDATE
            `admin`
        SET
            `password`= #{password}
        WHERE `userid`= #{userid};
    </update>
</mapper>